CompileFlags:
  Add:
    - -std=c++20
    - -Wall
    - -Wextra
    - -Wpedantic
  Remove:
    - -Werror

Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - bugprone-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - readability-magic-numbers

Index:
  Background: Build

Completion:
  AllScopes: true

Hover:
  ShowAKA: true

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
